.app {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.section-list-container {
    width: 25%;
    height: 100%;
}

.section-container {
    width: 75%;
    height: 100%;
    padding: 10px;
}

.spinner {
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

/* Flex */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* Margin */

.m0 {
    margin: 0;
}

/* Padding */

.p0 {
    padding: 0;
}